<form action= "index.html" method="post" enctype='application/json'>
    <p>Entrez votre nom : <input type="text" name="nom" value="a"></p>
    <p>Entrez votre prénom : <input type="text" name="prenom" value = "aa"></p>
    <input type=submit value =OK>
</form>