img:hover{
    border-color: red;
    border-width: thin;
    border-style: dotted;
}

#progressbar{
    width: 30%;
    background-color: darkred;
}

#bar{
    width: 100%;
    height: 30px;
    background-color: red;
}