<form action= "newcontact" method="post" enctype='application/json'>
    <p>Entrez votre nom : <input type="text" name="nom" value="Vallade"></p>
    <p>Entrez votre prénom : <input type="text" name="prenom" value = "Jocelyn"></p>
    <input type=submit value =OK>
</form>